<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Store</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

    <nav class="navbar p-3 mb-2 bg-primary text-white">
        <div class="container-fluid">
            {% for manager in managers %}
              <h1><a class="navbar-brand">{{manager.storename}}</a></h1>
            {% endfor %}
            </form>
        </div>
    </nav>

    {% for product in products %}
    <div class="card m-5" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{product.pName}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">₹{{product.pPrice}}</h6>
            <p class="card-text">{{product.pDescription}}</p>
            <button class="btn btn-primary">
                <a href="#" class="text-white">Add To Cart</a>
            </button>
        </div>    
    </div>
    {% endfor %}    
    
</body>
</html>